
@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,300;1,400&display=swap');

body{
    background-color: rgb(216, 193, 238);
    font-family: poppins;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
h1{
    text-align: center;
    margin-bottom: 10px;
    color: black; 

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: grey;
    height: 350px;
    width: 350px;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid black;
    color: white;
    margin-bottom: 80px;
}


.button {
    text-align: center;
    padding: 8px 30px; 
    margin: 0.1px; 
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.5); 
    border: 2px solid black;
    border-radius: 9px;
    cursor: pointer;
    background-color: black;
    color: white;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);

}

.row {
    margin: 10px 0; 
}

.row input {
    font-size: 20px;
    margin: 0;
    padding: 15px 40px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: mintcream;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.button-orange {
    background-color: rgb(207, 108, 16);
    border-color: none;
}

.button-grey{
    background-color: rgb(183, 178, 178);
}

.casio {
    text-align: left;     color: white;
    width: 100%;
    
}

.casio h2{
    margin-left: 28px;
}

